@import '@styles/constants.scss';

.tile {
    @include box-shadow;

    background-color: #ffffff;
    border-radius: var(--padding-s);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding: var(--padding-s);
    width: 100%;

    .placeholder {
        background-color: rgba($color-red, 0.1);
        height: 400px;
        width: 100%;
    }

    .content {
        h2 {
            @include gradient-text;

            display: inline-block;
            margin-bottom: var(--padding-s);
        }

        ul {
            li {
                margin-bottom: var(--padding-s);

                h3 {
                    align-items: center;
                    color: $color-red;
                    display: flex;
                    gap: 0.25em;
                    margin-bottom: 0.25em;

                    svg {
                        display: inline;
                        height: 1.15em;
                        width: 1.15em;
                    }
                }

                p {
                    color: rgba(0, 0, 0, 0.75);
                    font-size: 0.9em;
                }
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        gap: var(--padding-m);
        padding: var(--padding-m);
    }
}
