@import '@styles/constants.scss';

.tile {
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: var(--padding-s);
    box-shadow:
        0 2px 4px rgba(127, 0, 0, 0.1),
        0 4px 8px rgba(127, 0, 0, 0.1),
        0 8px 16px rgba(127, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding: var(--padding-s);
    position: relative;
    width: 100%;
    z-index: 2;

    .placeholder {
        background-color: rgba(127, 0, 0, 0.1);
        height: 400px;
        width: 100%;
    }

    .content {
        h2 {
            @include gradient-text;

            display: inline-block;
            margin-bottom: var(--padding-s);
        }

        ul {
            li {
                margin-bottom: var(--padding-s);
                max-width: 480px;

                h3 {
                    align-items: center;
                    color: $color-red;
                    display: flex;
                    gap: 0.25em;
                    margin-bottom: 0.25em;

                    svg {
                        display: inline;
                        height: 1.15em;
                        width: 1.15em;
                    }
                }

                p {
                    color: rgba(0, 0, 0, 0.75);
                    font-size: 0.9em;
                }
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        min-width: 400px;
        max-width: 500px;
        padding: var(--padding-m);
        gap: var(--padding-m);
    }

    @media (min-width: $breakpoint-l) {
        min-width: 500px;
    }
}
