@import '@styles/constants.scss';

.footer {
    border-radius: var(--padding-s);
    display: flex;
    padding: var(--padding-s);

    svg {
        color: $color-red;
        height: 2rem;
        margin: auto;
    }

    @media (min-width: $breakpoint-m) {
        padding: var(--padding-s) var(--padding-m);
    }
}
