@import 'styles/constants.scss';

.payments {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(8, minmax(0, 50px));
    justify-content: center;
    margin-top: 12px;

    .payment {
        aspect-ratio: 16 / 10;
        border: 1px solid $color-red-light;
        border-radius: 4px;
        height: 100%;
        position: relative;
        width: 100%;

        &.PayPal {
            padding: 5%;
        }
    }
}
