@import '@styles/constants.scss';

.footer {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: var(--padding-s);
    display: flex;
    justify-content: space-between;
    padding: var(--padding-s);

    svg {
        height: 2rem;
    }

    @media (min-width: $breakpoint-m) {
        padding: var(--padding-s) var(--padding-m);
    }
}
