@import 'styles/constants.scss';

.wrapper {
    align-items: center;
    display: flex;
    gap: 24px;
    margin: 36px 0;

    .price {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .old {
            display: block;
            font-size: 14px;
            font-weight: 500;
            opacity: 0.5;
        }

        .current {
            align-items: baseline;
            color: $color-pink;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            font-size: 24px;
            font-weight: 700;
            gap: 6px;
            max-width: 140px;

            .discount {
                font-size: 14px;
                font-weight: 500;
                color: $color-pink;
            }
        }
    }

    button {
        @include button-gradient;

        flex-grow: 3;
    }
}
