@import 'styles/constants.scss';

.image {
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        inset: 0;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: 0.25s ease opacity;
        width: 100%;
        z-index: 1;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        &.fallback {
            z-index: 0;
        }
    }

    @container (width >= 500px) {
        border-radius: 8px;
    }
}
