@import '@styles/constants.scss';

.card {
    background-color: rgba($color-red, 0.1);
    border-radius: var(--padding-s);
    display: flex;
    flex-direction: column;
    gap: var(--padding-s);
    padding: var(--padding-s);

    .image {
        aspect-ratio: 3 / 1;
        border-radius: calc(var(--padding-s) / 2);
        outline: 1px solid #ffffff;
        overflow: hidden;
        position: relative;
    }

    h2 {
        color: $color-red;
        font-size: 1.25rem;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--padding-s);

        li {
            display: flex;
            gap: var(--padding-s);
            justify-content: space-between;

            svg {
                color: $color-red;
                display: block;
                flex-shrink: 0;
                height: 2.5rem;
                width: 2.5rem;
            }

            div {
                h3 {
                    align-items: center;
                    color: $color-red;
                    display: flex;
                    gap: 0.25em;
                    margin-bottom: 0.25em;
                }

                p {
                    color: $color-text;
                    font-size: 0.9em;
                }
            }
        }
    }
}
