@import 'styles/constants.scss';

.wrapper {
    align-items: center;
    background: linear-gradient(to right, $color-red-light, $color-pink-light);
    border: 1px solid rgba($color-pink, 0.1);
    border-radius: 1000px;
    display: flex;
    gap: 8px;
    justify-content: center;
    margin: 0 auto;
    padding: 4px 12px;

    svg {
        color: $color-pink;
    }

    span {
        font-size: 14px;

        @container (width >= 500px) {
            font-size: 1em;
        }
    }
}
