@import 'styles/constants.scss';

.item {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: space-between;

    .details {
        align-items: center;
        display: flex;
        flex-grow: 1;
        flex-wrap: nowrap;
        gap: 12px;

        img {
            border-radius: 8px;
            height: 72px;
            width: 72px;
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: 6px;

            span {
                display: block;
            }

            .color {
                color: $color-grey;
                font-size: 21px;
                font-weight: 500;
            }

            .product {
                font-size: 14px;
                opacity: 0.75;
            }

            .price {
                font-weight: 600;
            }

            @container (width >= 400px) {
                align-items: center;
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 1fr auto;
                width: 100%;

                .color,
                .product {
                    grid-column: 1;
                }

                .price {
                    grid-row: span 2;
                }
            }
        }
    }

    .actions {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        gap: 12px;

        button,
        span {
            align-items: center;
            border: none;
            border-radius: 1000px;
            color: $color-grey;
            display: flex;
            height: 30px;
            justify-content: center;
            width: 30px;
        }

        button {
            background-color: $color-grey-button;
        }

        span {
            border: 2px solid $color-grey-button;
            font-weight: 600;
        }
    }
}
