@import 'styles/constants.scss';

@keyframes pop {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(105%);
    }

    100% {
        transform: scale(100%);
    }
}

.button {
    @include button-gradient;

    &:not(:disabled) {
        animation: pop 0.25s ease;
        transform-origin: center;
    }

    .text {
        span {
            display: block;
            text-align: left;

            &.subtext {
                font-size: 12px;
            }
        }
    }
}
