@import 'styles/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        h2 {
            @include gradient-text;

            font-size: 24px;
        }

        .close {
            background-color: $color-grey-button;
            border: none;
            border-radius: 1000px;
            color: $color-grey;
            display: flex;
            font-size: 36px;
            height: 48px;
            width: 48px;

            svg {
                margin: auto;
            }
        }
    }

    .footer {
        align-items: center;
        background-image: linear-gradient(
            to right,
            rgba($color-pink-light, 0),
            rgba($color-pink-light, 1)
        );
        border-radius: 1000px;
        display: flex;
        justify-content: space-between;
        padding: 12px;

        &.disabled {
            background-image: linear-gradient(
                to right,
                rgba($color-grey-light, 0),
                rgba($color-grey-light, 1)
            );
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .total {
                font-size: 14px;
                opacity: 0.5;
            }

            .price {
                @include gradient-text;

                font-size: 24px;
                font-weight: 600;
            }
        }

        .checkout {
            align-items: center;
            background: linear-gradient(to right, $color-red, $color-pink);
            border: 2px solid $color-pink;
            border-radius: 1000px;
            box-shadow:
                0px 1px 2px $color-shadow,
                0px 2px 4px $color-shadow,
                0px 4px 8px $color-shadow;
            color: white;
            display: flex;
            gap: 12px;
            min-height: 48px;
            padding: 8px 24px 8px 36px;
            transition: 0.25s ease;
            transition-property: background border-color box-shadow color
                opacity;

            &:hover {
                box-shadow:
                    0px 1px 2px $color-shadow,
                    0px 2px 4px $color-shadow,
                    0px 4px 8px $color-shadow,
                    0px 8px 16px $color-shadow;
            }

            &:disabled {
                background: $color-grey-button;
                border-color: transparent;
                box-shadow: none;
                color: $color-grey;
                opacity: 0.5;
            }

            &:not(:disabled) {
                animation: pop 0.25s ease;
                transform-origin: center;
            }
        }
    }

    @media (min-width: $breakpoint-3) {
        .header {
            h2 {
                font-size: 36px;
            }
        }
    }
}
