@import 'styles/constants.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;

        h2 {
            @include gradient-text;

            font-size: 24px;
        }

        .close {
            @include button-grey;

            font-size: 36px;
            height: 48px;
            width: 48px;

            svg {
                margin: auto;
            }
        }
    }

    .footer {
        align-items: center;
        background-image: linear-gradient(
            to right,
            rgba($color-pink-light, 0),
            rgba($color-pink-light, 1)
        );
        border-radius: 1000px;
        display: flex;
        justify-content: space-between;
        padding: 12px;

        &.disabled {
            background-image: linear-gradient(
                to right,
                rgba($color-grey-light, 0),
                rgba($color-grey-light, 1)
            );
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .total {
                font-size: 14px;
                opacity: 0.5;
            }

            .price {
                @include gradient-text;

                font-size: 21px;
                font-weight: 700;
            }
        }

        .checkout {
            @include button-gradient;

            padding: 8px 24px 8px 36px;
        }
    }

    @media (min-width: $breakpoint-3) {
        .header {
            h2 {
                font-size: 36px;
            }
        }
    }
}
