@import 'styles/constants.scss';

.button {
    align-items: center;
    background: linear-gradient(to right, $color-red, $color-pink);
    border: 2px solid $color-pink;
    border-radius: 1000px;
    box-shadow:
        0px 1px 2px $color-shadow,
        0px 2px 4px $color-shadow,
        0px 4px 8px $color-shadow;
    color: white;
    display: flex;
    gap: 12px;
    min-height: 48px;
    padding: 8px 24px;

    .text {
        span {
            display: block;
            text-align: left;

            &.subtext {
                font-size: 12px;
            }
        }
    }
}
