@import '@styles/constants.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);
    padding-top: 0;

    .tile {
        @include box-shadow;

        align-self: flex-start;
        background-color: #ffffff;
        border-radius: var(--padding-s);
        display: flex;
        justify-content: center;
        gap: var(--padding-l);
        padding: var(--padding-m);
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var(--padding-s);

        .copy {
            max-width: 600px;

            h2 {
                margin-bottom: 0.5em;
            }
        }

        .items {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding-s);
            list-style-type: none;
            margin: 0;
            padding: 0;

            .item {
                width: calc(50% - calc(var(--padding-s) * 0.5));

                .icon {
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    display: block;
                    margin-bottom: var(--padding-s);
                    max-width: 120px;
                    width: 50%;
                }

                h3 {
                    margin-bottom: 0.5em;
                }
            }
        }
    }

    @media (min-width: $breakpoint-s) {
        padding: 0 var(--padding-s);
    }

    @media (min-width: $breakpoint-m) {
        flex-direction: row-reverse;
        padding: 0 var(--padding-m);

        .tile {
            align-items: center;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            min-width: 400px;
            max-width: 500px;
        }

        .info {
            margin-top: var(--padding-l);

            .items {
                gap: var(--padding-m);

                .item {
                    width: 100%;
                }
            }
        }
    }

    @media (min-width: $breakpoint-l) {
        .tile {
            min-width: 500px;
        }

        .info {
            .items {
                .item {
                    width: calc(50% - calc(var(--padding-m) * 0.5));
                }
            }
        }
    }
}
