// Imports

@import 'styles/normalize.scss';
@import 'styles/constants.scss';
@import 'styles/variables.scss';

// Layout Styles

* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    background-color: white;
    color: $color-grey;
    font-family:
        'Figtree',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
}

main {
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1 {
    font-size: 48px;

    @media (min-width: $breakpoint-3) {
        font-size: 60px;
    }
}

p {
    line-height: 1.5;
}

a,
button {
    cursor: pointer;
    font-weight: 500;
}
