// Imports

@import 'styles/normalize.scss';
@import 'styles/constants.scss';
@import 'styles/variables.scss';

// Global Styles

* {
    box-sizing: border-box;
    line-height: 1;
}

body {
    background-color: white;
    color: $color-grey;
    font-family:
        'Figtree',
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol';
}

main {
    overflow-x: clip;
    position: relative;
    z-index: $z-main;
}

section {
    margin: var(--section-margin) 0;
    padding: 0 var(--page-gutter);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3 {
    @include gradient-text;
}

h1 {
    font-size: 36px;

    @media (min-width: $breakpoint-1) {
        font-size: 48px;
    }

    @media (min-width: $breakpoint-3) {
        font-size: 60px;
    }
}

h2 {
    font-size: 36px;
    font-weight: 600;

    @media (min-width: $breakpoint-3) {
        font-size: 48px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    line-height: 1.5;
}

a,
button {
    @include focus-outline;

    cursor: pointer;
    font-weight: 500;

    &:disabled {
        cursor: auto;
    }
}
