@import '@styles/constants.scss';

.colors {
    align-items: center;
    display: flex;

    span {
        border: 2px solid #ffffff;
        border-radius: 0.75rem;
        display: block;
        height: 1.5rem;
        margin-bottom: 6px;
        width: 1.5rem;
    }

    .gold {
        background-color: lighten($color: #f3584a, $amount: 10);
    }

    .purple {
        background-color: lighten($color: #bf28ed, $amount: 15);
        transform: translateX(-25%);
    }

    .black {
        background-color: lighten($color: #000000, $amount: 25);
        transform: translateX(-50%);
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);

    @media (min-width: $breakpoint-m) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

.section {
    margin: var(--padding-l) 0;
    text-align: center;

    h2 {
        @include gradient-text;

        margin-bottom: var(--padding-m);
    }

    ul {
        display: grid;
        gap: var(--padding-m);
        grid-template-columns: repeat(2, minmax(0, 1fr));

        li {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: var(--padding-s);

            svg {
                color: $color-red;
                height: 2.5rem;
                width: 2.5rem;
            }

            h3 {
                color: $color-red;
                margin-bottom: 0.5em;
            }

            p {
                color: rgba(0, 0, 0, 0.75);
                font-size: 0.9em;
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        ul {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
}
