@import '@styles/constants.scss';

.content {
    display: flex;
    flex-direction: column;
    gap: var(--padding-l);
    position: relative;

    .inner {
        display: flex;
        flex-direction: column;
        gap: var(--padding-m);
        width: 100%;
    }

    @media (min-width: $breakpoint-m) {
        flex-direction: row-reverse;
        gap: var(--padding-m);

        .inner {
            padding: var(--padding-l) 0;
        }
    }

    @media (min-width: $breakpoint-l) {
        gap: var(--padding-l);
    }
}
