@import '@styles/constants.scss';

.fixed {
    background-image: linear-gradient(
        to bottom,
        rgba($color-red, 0.8),
        rgba($color-red, 0)
    );
    padding: var(--padding-s);
    position: fixed;

    .container {
        margin: 0 auto;
        max-width: 1200px;

        .header {
            color: #ffffff;
            height: $header-height;
            margin: 0 var(--padding-s);
            padding: 0.5rem var(--padding-s);

            .logo {
                display: block;
                fill: currentColor;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
}
