@import 'styles/constants.scss';

.section {
    --active-color: 255, 229, 236; // Pink Light

    &.alternate {
        --active-color: 240, 230, 255; // Purple Light
    }

    background: linear-gradient(
        to bottom,
        rgba(var(--active-color), 0),
        rgb(var(--active-color)),
        rgba(var(--active-color), 0)
    );
    margin: 0;
    padding-bottom: var(--section-margin);
    padding-top: var(--section-margin);

    .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin: 0 auto;
        max-width: $page-width;
        width: 100%;

        .header {
            @include float;

            margin: 0 auto;
            max-width: 702px;
            width: 100%;

            h2 {
                max-width: 80%;
                text-wrap: pretty;
            }

            .float1 {
                bottom: 0px;
                right: 0px;
            }

            .float2 {
                display: none;
                left: -24px;
                top: -12px;
            }
        }

        .carousel {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .imageContainer {
                border-radius: 24px;
                height: 438px;
                margin: 0 auto;
                max-width: 702px;
                overflow: hidden;
                position: relative;
                width: 100%;

                .image {
                    object-fit: cover;
                    opacity: 0;
                    position: absolute;
                    transition: 0.25s ease opacity;
                    width: 100%;
                    z-index: 0;

                    &.small {
                        display: block;
                        object-position: right center;
                    }

                    &.large {
                        display: none;
                        object-position: 25% center;
                    }

                    &.active {
                        opacity: 1;
                    }
                }

                &::after {
                    background: linear-gradient(
                        to top,
                        rgb(var(--active-color)),
                        rgba(var(--active-color), 0) 75%
                    );
                    content: '';
                    inset: 0;
                    position: absolute;
                    z-index: 1;
                }

                .dots {
                    bottom: 21px;
                    left: 50%;
                    display: flex;
                    gap: 12px;
                    position: absolute;
                    transform: translateX(-50%);
                    z-index: 2;

                    .dot {
                        background: white;
                        border: none;
                        border-radius: 1000px;
                        height: 12px;
                        position: relative;
                        transition: 0.25s ease;
                        transition-property: opacity width;
                        width: 12px;

                        &.active {
                            padding: 2px;
                            width: 60px;

                            &::after {
                                background-color: rgb(var(--active-color));
                                border-radius: 1000px;
                                content: '';
                                display: block;
                                height: 8px;
                                position: relative;
                                width: 100%;
                            }

                            &.animated {
                                @keyframes progress {
                                    from {
                                        width: 8px;
                                    }

                                    to {
                                        width: 100%;
                                    }
                                }

                                &::after {
                                    animation: progress;
                                    animation-duration: 5s;
                                    animation-fill-mode: forwards;
                                    animation-iteration-count: 1;
                                    animation-timing-function: linear;
                                }
                            }
                        }
                    }
                }

                .control {
                    background: none;
                    border: none;
                    bottom: 12px;
                    color: white;
                    padding: 0;
                    position: absolute;
                    right: 12px;
                    z-index: 2;

                    svg {
                        display: block;
                    }
                }
            }

            .items {
                margin: 0 auto;
                max-width: 702px;
                min-height: 144px;
                position: relative;
                transform: translateX(calc(var(--page-gutter) * -1));
                width: 100vw;

                @media (min-width: 702px) {
                    transform: translateX(0px);
                }

                .item {
                    filter: blur(6px);
                    padding: 0 48px;
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    text-align: center;
                    top: 0;
                    transform: translateX(200%);
                    width: 100%;

                    &.previous,
                    &.active,
                    &.next {
                        opacity: 1;
                        transition: 0.5s ease;
                        transition-property: filter opacity transform;
                    }

                    &.previous {
                        transform: translateX(calc(-100% + 36px + 48px));
                    }

                    &.active {
                        filter: none;
                        transform: translateX(0%);
                    }

                    &.next {
                        transform: translateX(calc(100% - 36px - 48px));
                    }
                }

                &.static {
                    .item {
                        &.previous,
                        &.active,
                        &.next {
                            transition-property: none;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 600px) {
        .content .carousel {
            gap: 24px;
        }
    }

    @media (min-width: 1000px) {
        .content .header {
            max-width: 100%;
            padding-left: 120px;

            .float1 {
                display: none;
            }

            .float2 {
                display: block;
            }
        }

        .content .carousel {
            flex-direction: row;
            gap: 48px;

            .imageContainer {
                flex-grow: 1;
                height: auto;
                max-width: unset;

                .image {
                    height: 100%;
                    inset: 0;
                    position: absolute;

                    &.small {
                        display: none;
                    }

                    &.large {
                        display: block;
                    }
                }

                &::after {
                    background: linear-gradient(
                        to left,
                        rgb(var(--active-color)),
                        rgba(var(--active-color), 0) 75%
                    );
                }

                .dots {
                    bottom: unset;
                    left: unset;
                    right: -33px;
                    top: 50%;
                    transform: rotate(90deg) translateX(0%) translateY(-50%);
                }
            }

            .items {
                display: flex;
                flex-direction: column;
                flex-shrink: 0;
                gap: 48px;
                margin: 0;
                padding: 24px 0;
                width: calc(360px);

                .item {
                    filter: none;
                    left: unset;
                    opacity: 1;
                    padding: 0;
                    position: static;
                    text-align: left;
                    transform: translateX(48px);
                    transition-property: transform;
                    width: calc(360px - 48px);

                    &.previous,
                    &.next {
                        transform: translateX(48px);
                    }
                }

                &.static .item {
                    &.previous,
                    &.active,
                    &.next {
                        transition-property: transform;
                    }
                }
            }
        }
    }

    @media (min-width: $breakpoint-3) {
        .content {
            gap: 48px;
        }
    }
}
