@import 'styles/constants.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .image {
        aspect-ratio: 1 / 1;
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        width: 100%;

        @container (width >= 500px) {
            border-radius: 8px;
        }
    }

    .selector {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 12px;

        button {
            align-items: center;
            background: none;
            border: 2px solid transparent;
            border-radius: 1000px;
            display: flex;
            font-size: 14px;
            gap: 12px;
            justify-content: center;
            min-height: 48px;
            transition: 0.25s ease;
            transition-property: background border-color color;

            &::before {
                background-color: currentColor;
                border-radius: 1000px;
                content: '';
                display: none;
                height: 24px;
                opacity: 0.5;
                transition: 0.25s ease opacity;
                width: 24px;
            }

            @container (width >= 500px) {
                font-size: 16px;

                &::before {
                    display: block;
                }
            }

            &.selected {
                &::before {
                    opacity: 1;
                }
            }

            &.pink {
                border-color: $color-pink-light;
                color: $color-pink;

                &:hover {
                    background: $color-pink-light;
                }

                &.selected {
                    background: $color-pink-light;
                    border-color: $color-pink;
                }
            }

            &.purple {
                border-color: $color-purple-light;
                color: $color-purple;

                &:hover {
                    background: $color-purple-light;
                }

                &.selected {
                    background: $color-purple-light;
                    border-color: $color-purple;
                }
            }

            &.black {
                border-color: $color-grey-light;
                color: $color-grey;

                &:hover {
                    background: $color-grey-light;
                }

                &.selected {
                    background: $color-grey-light;
                    border-color: $color-grey;
                }
            }
        }
    }
}
