@import 'styles/constants.scss';

.container {
    @include container;

    max-width: 724px;
    width: 100%;

    .wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;

        .image {
            flex-shrink: 0;
            height: 180px;
            margin-left: 60px;
            mask-image: radial-gradient(
                circle at 0px 180px,
                transparent,
                transparent 90px,
                black 90px
            );
            mask-repeat: no-repeat;
            mask-size: 200%;
            width: 180px;
        }

        .text {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            gap: 12px;

            .mark {
                color: $color-pink-light;
                height: 72px;
                margin-bottom: -36px;
                margin-top: -48px;
            }

            span {
                display: block;
                padding: 0 12px;
                position: relative;
            }

            .quote {
                @include float;

                span {
                    @include gradient-text;

                    font-family: 'DM Serif Text', serif;
                    font-size: 24px;
                    line-height: 1.333;
                }

                .float {
                    bottom: -72px;
                    right: -36px;
                }
            }
        }

        @container (width >= 500px) {
            flex-direction: row;

            .image {
                margin-left: unset;
                mask-image: radial-gradient(
                    circle at 225px 90px,
                    transparent,
                    transparent 90px,
                    black 90px
                );
            }

            .text {
                .mark {
                    margin-top: calc(90px - 48px);
                    transform: translateX(-24px);
                }

                span {
                    padding: 0;
                }
            }
        }

        @container (width >= 600px) {
            .image {
                height: 240px;
                mask-image: radial-gradient(
                    circle at 300px 120px,
                    transparent,
                    transparent 120px,
                    black 120px
                );
                width: 240px;
            }

            .text {
                .mark {
                    margin-top: calc(120px - 48px);
                }
            }
        }

        @container (width >= 700px) {
            .text {
                .quote {
                    span {
                        font-size: 30px;
                    }

                    .float {
                        bottom: -48px;
                        right: -48px;
                    }
                }
            }
        }
    }
}
