@import 'styles/constants.scss';

.wrapper {
    left: 0;
    padding: var(--page-gutter);
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $z-header;

    .bar {
        align-items: center;
        background-color: rgba(white, 0.75);
        backdrop-filter: blur(100px);
        border-radius: 1000px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: calc($page-width - (var(--page-gutter) * 2));
        padding: 12px;
        padding-left: 24px;
        pointer-events: auto;

        .logo {
            color: $color-pink;
            height: 36px;
        }
    }
}
