// Constants

$breakpoint-1: 500px;
$breakpoint-2: 800px;
$breakpoint-3: 1100px;

$color-red: rgb(225, 0, 75);
$color-red-light: rgb(255, 230, 230);
$color-pink: rgb(225, 0, 125);
$color-pink-light: rgb(255, 229, 236);
$color-purple: rgb(120, 50, 220);
$color-purple-light: rgb(240, 230, 255);
$color-grey: rgb(70, 70, 70);
$color-grey-light: rgb(230, 230, 230);
$color-grey-button: rgb(240, 240, 240);
$color-shadow: rgba(128, 0, 42, 0.05);

$header-height: 72px;

$page-width: 1400px;

$z-float: 0;
$z-main: 1;
$z-banner: 2;
$z-header: 3;
$z-modal: 4;

// Mixins

// TODO: extract more styling logic to mixins for re-use

@mixin button {
    @include focus-outline;

    align-items: center;
    border: 2px solid;
    border-color: transparent;
    border-radius: 1000px;
    display: flex;
    gap: 12px;
    justify-content: center;
    padding-inline: 0px; // For Safari
    transition-property: background, border-color, box-shadow, color, opacity,
        outline-color;

    &:disabled {
        opacity: 0.5;
        transition: none;
    }
}

@mixin button-gradient {
    @include button;

    background: linear-gradient(to right, $color-red, $color-pink);
    border-color: $color-pink;
    box-shadow:
        0px 1px 2px $color-shadow,
        0px 2px 4px $color-shadow,
        0px 4px 8px $color-shadow;
    color: white;
    min-height: 48px;
    padding: 8px 24px;

    &:hover,
    &:focus-visible {
        box-shadow:
            0px 1px 2px $color-shadow,
            0px 2px 4px $color-shadow,
            0px 4px 8px $color-shadow,
            0px 8px 16px $color-shadow,
            0px 16px 32px $color-shadow;
    }

    &:not(:disabled):focus-visible {
        outline-color: $color-pink;
    }

    &:disabled {
        background: $color-grey-button;
        border-color: transparent;
        box-shadow: none;
        color: $color-grey;
    }
}

@mixin button-grey {
    @include button;

    background: $color-grey-button;
    color: $color-grey;
}

@mixin container {
    container-type: inline-size;
}

@mixin float {
    position: relative;

    *:not(img) {
        position: relative;
        z-index: $z-main;
    }

    img {
        pointer-events: none;
        position: absolute;
        z-index: $z-float;
    }
}

@mixin focus-outline {
    outline: 1px dashed transparent;
    outline-offset: 2px;
    transition: 0.25s ease outline-color;

    &:not(:disabled):focus-visible {
        outline-color: currentColor;
    }
}

@mixin gradient-text {
    background-clip: text;
    background-image: linear-gradient(135deg, $color-red, $color-pink);
    color: transparent;
    margin-bottom: -0.1em;
    padding-bottom: 0.1em;
}
