@import '@styles/constants.scss';

.container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-m);

    .image {
        aspect-ratio: 16 / 9;
        border-radius: var(--padding-s);
        box-shadow:
            0 2px 4px rgba(127, 0, 0, 0.1),
            0 4px 8px rgba(127, 0, 0, 0.1),
            0 8px 16px rgba(127, 0, 0, 0.1);
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: var(--padding-s);

        h2 {
            @include gradient-text;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--padding-s);

            li {
                svg {
                    color: $color-red;
                    height: 1.5rem;
                    width: 1.5rem;
                }

                h3 {
                    margin-bottom: 0.25em;
                }

                p {
                    color: rgba(0, 0, 0, 0.75);
                    font-size: 0.9em;
                }
            }
        }
    }

    @media (min-width: $breakpoint-m) {
        .content {
            ul {
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
        }
    }
}
