@import '@styles/constants.scss';

.hero {
    align-items: flex-end;
    background-image: linear-gradient(
            to top,
            rgba($color-red, 1),
            rgba($color-red, 0.25) 33%,
            rgba($color-red, 0)
        ),
        url('https://picsum.photos/1600/1600');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 var(--padding-m) var(--padding-m);
    display: flex;
    justify-content: center;
    min-height: clamp(400px, 50vh, 800px);

    .content {
        color: #ffffff;
        max-width: 40ch;
        padding: 0 1rem 5rem 1rem;
        text-align: center;

        h1 {
            font-size: 2em;
        }
    }

    @media (min-width: $breakpoint-m) {
        .content {
            h1 {
                font-size: 2.5em;
            }
        }
    }
}
